nav {
  text-align: center;
  background-color: #88a6e3;
  padding: 10px;
} 

nav a {
  color : white;
  text-decoration : none;
  font-size : 24px;
}

/* .card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  padding: 16px;
  margin: 16px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.9);
  background: linear-gradient(45deg,pink,blueviolet);
}
.card-body h2 {
  font-size: 24;
  margin: auto;
}
.card-body p {
  font-size: 16px;
} */

.classCard {
  border: 2px solid #4CAF50;
  border-radius: 10px;
  width: 320px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #f6d365, #fda085);
}
.classCard h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #333;
}
.classCard p {
  font-size: 18px;
  color: #5b0909;
} 

.loading-page {
  background: whitesmoke url("./assets/img/bg-image.jpg") scroll center;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #facce9;
  margin-bottom: 10px;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}

.card {
  background-color: rgb(242, 226, 226);
  padding: 50px;
  margin: 100px;
  border-radius: 10px;
  box-shadow: #1b222f;
  height: 300px;
  width: 500px;
}